#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.quote {
  font-size: 1.6rem;
}

.author {
  font-style: italic;
  font-weight: 400;
}
